In [2]:
import os

import pandas as pd
import numpy as np

from load_data.dataloading import check_and_merge_data

Load data

In [3]:
datadir = '../data/sales/'

check_and_merge_data(datadir)

Ya existen archivos CSV en el directorio. No se necesita fusionar.

In [4]:
data = '../data/sales/sales.csv'
df = pd.read_csv(data)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

Clean data

In [5]:
print('Before \n')
print(df.isnull().sum(), '\n')
df.dropna(inplace=True)
print('After \n')
print(df.isnull().sum())

Before

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

After

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [6]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

618

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185687 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185687 non-null  object
 1   Product           185687 non-null  object
 2   Quantity Ordered  185687 non-null  object
 3   Price Each        185687 non-null  object
 4   Order Date        185687 non-null  object
 5   Purchase Address  185687 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [8]:
df['Order ID'] = pd.to_numeric(df['Order ID'], errors='coerce')
df.dropna(inplace=True)
df['Order ID'] = df['Order ID'].astype('int64')
df['Quantity Ordered'] = df['Quantity Ordered'].astype('int64')
df['Price Each'] = df['Price Each'].astype('float64')
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Verificar los nuevos tipos de datos
df.info()

C:\Users\Felipe\AppData\Local\Temp\ipykernel_7224\2036117091.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

<class 'pandas.core.frame.DataFrame'>
Index: 185686 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  datetime64[ns]
 5   Purchase Address  185686 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.9+ MB

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016"

In [12]:
df['Quantity Ordered'].value_counts()

Quantity Ordered
1    168291
2     13321
3      2920
4       806
5       236
6        80
7        24
8         5
9         3
Name: count, dtype: int64

In [15]:
df[['Price Each']].describe()

          Price Each
count  185686.000000
mean      184.519255
std       332.843838
min         2.990000
25%        11.950000
50%        14.950000
75%       150.000000
max      1700.000000

In [19]:
df['Order ID'].duplicated().sum()

7249

In [29]:
# Rename columns (using a dictionary for clarity)
new_column_names = {
    'Order ID': 'orderID',  # You can keep the original name if desired
    'Product': 'product',
    'Quantity Ordered': 'quantity',
    'Price Each': 'priceEach',  # Assuming it's price per unit
    'Order Date': 'orderDate',  # You can keep the original name if desired
    'Purchase Address': 'purchaseAddress'  # Assuming it's billing address
}

df = df.rename(columns=new_column_names)
df

In [32]:
df['product'].value_counts()

product
USB-C Charging Cable          21859
Lightning Charging Cable      21610
AAA Batteries (4-pack)        20612
AA Batteries (4-pack)         20558
Wired Headphones              18849
Apple Airpods Headphones      15525
Bose SoundSport Headphones    13298
27in FHD Monitor               7498
iPhone                         6840
27in 4K Gaming Monitor         6225
34in Ultrawide Monitor         6174
Google Phone                   5522
Flatscreen TV                  4794
Macbook Pro Laptop             4721
ThinkPad Laptop                4126
20in Monitor                   4098
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: count, dtype: int64

In [36]:
df[['purchaseAddress']].describe()

                               purchaseAddress
count                                   185686
unique                                  140787
top     193 Forest St, San Francisco, CA 94016
freq                                         9

In [38]:
df[['orderDate']].describe()

                           orderDate
count                         185686
mean   2019-07-18 21:32:06.298051840
min              2019-01-01 03:07:00
25%              2019-04-16 20:55:15
50%              2019-07-17 20:11:00
75%              2019-10-26 08:00:00
max              2020-01-01 05:13:00

Save

In [39]:
df.to_csv('../data/cleaned/sales_cleaned.csv')